[application]

[web.app]

# HTML title tag content
title = "frontend"

# include `assets` in web platform
[web.resource]

# Additional CSS style files
style = []

# Additional JavaScript files
script = []

[web.resource.dev]

# Javascript code file
# serve: [dev-server] only
script = []

# Proxy backend API requests during development
[web.resource.dev.proxy]
backend = "http://localhost:8080"
